<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    <link rel="shortcut icon" href="pictures/logo_ico.ico" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login-signup.css">
</head>

<body>
    <div class="row main">
        <div class="col-md-4 left bg-dark">
            <div class="container">
                <a href="/">
                    <h4 class="mt-2 ml-2 font-weight-light"><span class="text-success">news</span><span
                            class="text-light">Crunch</span></h4>
                </a>
                <div class="row text-white mt-5">
                    <div class="col-9 offset-2">
                        <form action="/signup" method="POST">
                            <h5 class="font-weight-light">Register</h5>
                            <input type="text" class="form-control bg-dark mt-3 text-light" name="name"
                                placeholder="Enter your name" id="name" required>
                            <input type="email" class="form-control bg-dark mt-3 text-light" name="email"
                                placeholder="Enter your email" id="email" required>
                            <select name="country" class="countries select form-control bg-dark mt-3 text-muted"
                                id="countryId" required>
                                <option value="">Select Country</option>
                            </select>
                            <select name="state" class="states select form-control bg-dark mt-3 text-muted" id="stateId"
                                required>
                                <option value="">Select State</option>
                            </select>
                            <select name="city" class="cities select form-control bg-dark mt-3 text-muted" id="cityId"
                                required>
                                <option value="">Select City</option>
                            </select>
                            <input type="password" class="form-control bg-dark mt-3 text-light" name="password"
                                placeholder="Enter a password" id="password" required>
                            <input type="password" class="form-control bg-dark mt-3 text-light" name="cfpassword"
                                placeholder="Confirm password" id="cfpassword" required>
                            <button class="btn btn-sm btn-success mt-3" type="submit">Submit</button>

                        </form>
                        <p class="mt-2">Already a member? <a href="/login" class="text-success">Login</a>.</p>
                        {{#if signupSuccess}}
                        <div class="alert alert-success mt-4">
                            Congratulation!! You have signup Successfully.
                        </div>
                        {{/if}}
                    </div>


                </div>

            </div>
        </div>
        <div class="col-md-8 right">
        </div>
    </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//geodata.solutions/includes/countrystatecity.js"></script>
<script src="js/homepage.js"></script>
<script src="js/signup.js"></script>

</html>